<div *ngIf="chiTietPhim; else loading" class="container">
  <div class="row">
    <div class="col-md-6 row">
      <img [src]="chiTietPhim.hinhAnh" class="col-md-6"/>
      <div>
        <p>{{ chiTietPhim.tenPhim }}</p>
        <!-- <p>{{ chiTietPhim.ngayKhoiChieu }}</p> -->
        <p>
          ngày khởi chiếu : {{ chiTietPhim.ngayKhoiChieu | date: "dd/MM/yyy" }}
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <p>Đánh giá: {{ chiTietPhim.danhGia }}</p>
    </div>
  </div>
</div>

<ng-template #loading>
  <!-- Tự viết thêm 1 component loading -->
  <!-- <app-loading></app-loading> -->
  ...loading
</ng-template>
