<div class="footer">
  <div class="col-xs-12 block ng-scope" id="footer">
    <div class="mainMaxWidth">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <p class="title">TIX</p>
          <div class="row">
            <div class="col-sm-6 col-xs-6 noPaddingLeft fontSizeP hideOnMobile">
              <div><a href="">FQA </a></div>
              <div><a href="">Brand Guidelines</a></div>
            </div>
            <div class="col-sm-6 col-xs-12 noPaddingLeft fontSizeP ng-scope">
              <a href="/thoa-thuan-su-dung">Thỏa thuận sử dụng</a>
              <a href="/chinh-sach-bao-mat">Chính sách bảo mật</a>
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-xs-12 hideOnMobile">
          <p class="title" style="color: white">Đối tác</p>
          <div class="row col-sm-12 col-xs-12 linePartner">
            <a target="_blank" href="https://www.cgv.vn/" title="CGV">
              <img class="iconConnect" src="./../../../assets/img/cgv.png" style="background-color: #fff" />
            </a>
            <a target="_blank" href="https://www.bhdstar.vn/" title="CGV">
              <img class="iconConnect" src="./../../../assets/img/bhd.png" style="background-color: #fff" />
            </a>
            <a target="_blank" href="https://www.galaxycine.vn/" title="CGV">
              <img class="iconConnect" src="./../../../assets/img/glx.png" style="background-color: #fff" />
            </a>
            <a target="_blank" href="https://www.cinestar.vn/" title="CGV">
              <img class="iconConnect" src="./../../../assets/img/cns.png" style="background-color: #fff" />
            </a>
            <a target="_blank" href="https://www.lottecinemavn.com/" title="CGV">
              <img class="iconConnect" src="./../../../assets/img/lotte.png" style="background-color: #fff" />
            </a>
          </div>

          <div class="row col-sm-12 col-xs-12 linePartner">
            <a target="_blank" href="https://www.cgv.vn/" title="CGV">
              <img class="iconConnect" src="./../../../assets/img/cgv.png" style="background-color: #fff" />
            </a>
            <a target="_blank" href="https://www.bhdstar.vn/" title="CGV">
              <img class="iconConnect" src="./../../../assets/img/bhd.png" style="background-color: #fff" />
            </a>
            <a target="_blank" href="https://www.galaxycine.vn/" title="CGV">
              <img class="iconConnect" src="./../../../assets/img/glx.png" style="background-color: #fff" />
            </a>
            <a target="_blank" href="https://www.cinestar.vn/" title="CGV">
              <img class="iconConnect" src="./../../../assets/img/cns.png" style="background-color: #fff" />
            </a>
            <a target="_blank" href="https://www.lottecinemavn.com/" title="CGV">
              <img class="iconConnect" src="./../../../assets/img/lotte.png" style="background-color: #fff" />
            </a>
          </div>

          <div class="row col-sm-12 col-xs-12 linePartner">
            <a target="_blank" href="https://www.cgv.vn/" title="CGV">
              <img class="iconConnect" src="./../../../assets/img/cgv.png" style="background-color: #fff" />
            </a>
            <a target="_blank" href="https://www.bhdstar.vn/" title="CGV">
              <img class="iconConnect" src="./../../../assets/img/bhd.png" style="background-color: #fff" />
            </a>
            <a target="_blank" href="https://www.galaxycine.vn/" title="CGV">
              <img class="iconConnect" src="./../../../assets/img/glx.png" style="background-color: #fff" />
            </a>
            <a target="_blank" href="https://www.cinestar.vn/" title="CGV">
              <img class="iconConnect" src="./../../../assets/img/cns.png" style="background-color: #fff" />
            </a>
            <a target="_blank" href="https://www.lottecinemavn.com/" title="CGV">
              <img class="iconConnect" src="./../../../assets/img/lotte.png" style="background-color: #fff" />
            </a>
          </div>

          <div class="row col-sm-12 col-xs-12 linePartner">
            <a target="_blank" href="https://www.cgv.vn/" title="CGV">
              <img class="iconConnect" src="./../../../assets/img/cgv.png" style="background-color: #fff" />
            </a>
            <a target="_blank" href="https://www.bhdstar.vn/" title="CGV">
              <img class="iconConnect" src="./../../../assets/img/bhd.png" style="background-color: #fff" />
            </a>
            <a target="_blank" href="https://www.galaxycine.vn/" title="CGV">
              <img class="iconConnect" src="./../../../assets/img/glx.png" style="background-color: #fff" />
            </a>
            <a target="_blank" href="https://www.cinestar.vn/" title="CGV">
              <img class="iconConnect" class="iconConnect" src="./../../../assets/img/cns.png"
                style="background-color: #fff" />
            </a>
            <a target="_blank" href="https://www.lottecinemavn.com/" title="CGV">
              <img class="iconConnect" src="./../../../assets/img/lotte.png" style="background-color: #fff" />
            </a>
          </div>
        </div>

        <div class="row col-sm-4 col-xs-12">
          <div class="col-xs-6 hideOnMobile textCenter">
            <p class="title">MOBILE APP</p>
              <a target="_blank"
                href="https://apps.apple.com/vn/app/tix-%C4%91%E1%BA%B7t-v%C3%A9-nhanh-nh%E1%BA%A5t/id615186197"
                title="CGV">
                <img class="iconApp" src="./../../../assets/img/apple-app-logo.png" />
              </a>
              <a target="_blank" href="https://play.google.com/store/apps/details?id=vn.com.vng.phim123">
                <img class="iconApp" src="./../../../assets/img/android-app-logo.png" />
              </a>
          </div>
          <div class="col-xs-6 hideOnMobile textCenter">
            <p class="title">SOCIAL</p>
              <a target="_blank" href="https://www.facebook.com/tix.vn/" title="CGV">
                <img class="iconApp" src="./../../../assets/img/facebook-logo.png" />
              </a>
              <a target="_blank" href="https://zalo.me/tixdatve">
                <img class="iconApp" src="./../../../assets/img/zalo-logo.png" />
              </a>
          </div>
        </div>
      </div>

      <hr class="hrFooter" />

      <div>
        <div class="row">
          <div class="col-sm-1 col-xs-12 imgFooter">
            <img class="vngIcon" src="./../../../assets/img/zion-logo.jpg" style="border-radius: 8px;" />
          </div>
          <div class="col-sm-9 col-xs-12 infoFooter">
            <span>TIX – SẢN PHẨM CỦA CÔNG TY CỔ PHẦN ZION</span>
            <span>Địa chỉ: Z06 Đường số 13, Phường Tân Thuận Đông, Quận 7, Tp. Hồ Chí
              Minh, Việt Nam.</span>
            <span>Giấy chứng nhận đăng ký kinh doanh số: 0101659783,<br />đăng ký
              thay đổi lần thứ 30, ngày22 tháng 01 năm 2020 do Sở kế hoạch và đầu
              tư Thành phố Hồ Chí Minh cấp.</span>
            <span>Số Điện Thoại (Hotline): 1900&nbsp;545&nbsp;436<br />Email:
              <a href="mailto:support@tix.vn" style="color: #FB4226;">support@tix.vn</a></span>
          </div>
          <div class="col-sm-2 col-xs-12 imgFooter">
            <a target="_blank" href="http://online.gov.vn/Home/WebDetails/62782"><img class="imgBoCo"
                alt="Bộ Công Thương" title="" src="./../../../assets/img/boCongThong.png" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>