.ghe {
    width: 45px;
    height: 45px;
    background-color: gray;
    margin: 10px;
    text-align: center;
  }

.gheDaDat{
  background-color: red;
}
.gheDangDat {
  background-color: green;
}
.gheVip{
  background-color: yellow;

}