carousel-inner {
    width: 100%;
    height: auto;
  }
  .carousel-inner img {
    height: 80vh;
  }
  .carousel-indicators {
    margin-bottom: 60px;
  }
  .carousel {
    position: relative;
    width: 100%;
  }
  
  .carousel .carousel-inner i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 4rem;
    color: white;
    padding: 12px 24px;
    cursor: pointer;
    text-align: center;
  }
  .carousel .carousel-inner i:hover {
    opacity: 0.8;
  }
  .carousel .btn:hover {
    background-color: black;
  }