<section class="news" id="news">
        <div class="container">
          <div class="text-center title-news">
            <span>Dien Anh 24h</span>
            <span>Review</span>
            <span>Khuyen mai</span>
          </div>
          <div class="row py-4">
            <div class="col-md-6 col-xs-6 col-sm-6">
              <div class="card card-main">
                <img class="card-img-top" src="../../../../assets/img/phim-so2.png" alt="Card image cap">
                <div class="card-body">
                  <a href="">
                    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, ipsam?</h5>
                  </a>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content. Some quick example text to build on the card title and make up the bulk of the card's content.
                  </p>
                  <i class="far fa-thumbs-up"></i> <span>0</span>
                  <i class="far fa-comment-alt"></i> <span>0</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">
              <div class="card card-main">
                <img class="card-img-top" src="../../../../assets/img/phim-so1.jpg" alt="Card image cap">
                <div class="card-body">
                  <a href="">
                    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, ipsam?</h5>
                  </a>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content. Some quick example text to build on the card title and make up the bulk of the card's content.
                  </p>
                  <i class="far fa-thumbs-up"></i> <span>0</span>
                  <i class="far fa-comment-alt"></i> <span>0</span>
                </div>
              </div>
            </div>
          </div>
    
          <div class="row py-1">
            <div class="col-md-4 col-xs-4 col-sm-4">
              <div class="card card-under">
                <img class="card-img-top" src="../../../../assets/img/onward-15840276765820.jpg" alt="Card image cap">
                <div class="card-body">
                  <a href="">
                    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, ipsam?</h5>
                  </a>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content. Some quick example text to build on the card title and make up the bulk of the card's content.
                  </p>
                  <i class="far fa-thumbs-up"></i> <span>0</span>
                  <i class="far fa-comment-alt"></i> <span>0</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
              <div class="card card-under">
                <img class="card-img-top" src="../../../../assets/img/vin-dau-nhot-15840272645345.png" alt="Card image cap">
                <div class="card-body">
                  <a href="">
                    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, ipsam?</h5>
                  </a>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content. Some quick example text to build on the card title and make up the bulk of the card's content.
                  </p>
                  <i class="far fa-thumbs-up"></i> <span>0</span>
                  <i class="far fa-comment-alt"></i> <span>0</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
              <div class="row card-right-under">
                <div class="col-2 col-md-3 col-xs-3 col-sm-4">
                  <img class="card-img-right"
                    src="https://s3img.vcdn.vn/123phim/2020/05/ba-dong-lin-shaye-cua-insidious-tai-xuat-trong-phim-kinh-di-bay-linh-hon-15891841835409.png"
                    alt="Card image cap">
                  <img class="card-img-right"
                    src="https://s3img.vcdn.vn/123phim/2020/05/ccfb798a0c7f7deb76fb8d718b92f406.png" alt="Card image cap">
                  <img class="card-img-right"
                    src="https://s3img.vcdn.vn/123phim/2020/05/batman-vs-joker-ai-tot-ai-xau-15888414648114.png"
                    alt="Card image cap">
                  <img class="card-img-right"
                    src="https://s3img.vcdn.vn/123phim/2020/05/mau-sac-anh-huong-den-qua-trinh-xem-phim-cua-ban-nhu-the-nao-15887592699494.png"
                    alt="Card image cap">
                </div>
                <div class="col-10 col-md-9 col-xs-9 col-sm-8 card-right-text">
                  <a href="">
                    <p>‘Bà đồng’ Lin Shaye của Insidious tái xuất trong phim kinh di va....</p>
                  </a>
                  <a href="" id="right-text">
                    <p>‘Bà đồng’ Lin Shaye của Insidious tái xuất trong phim kinh di va....</p>
                  </a>
                  <a href="" id="right-text">
                    <p>‘Bà đồng’ Lin Shaye của Insidious tái xuất trong phim kinh di va....</p>
                  </a>
                  <a href="" id="right-text">
                    <p>‘Bà đồng’ Lin Shaye của Insidious tái xuất trong phim kinh di va....</p>
                  </a>
    
                </div>
              </div>
            </div>
          </div>
          <div class="text-center py-4">
            <button class="btn btn-outline-secondary text-center">Xem Them</button>
          </div>
        </div>
      </section>
