<div class="flex container">
  <div class="row">
    <div class="col-md-5 row">
      <ul class="col-md-2">
        <li
          *ngFor="let heThongRap of cinemaService.heThongRap()"
          (click)="chonHeThongRap(heThongRap.maHeThongRap)"
          style="cursor: pointer"
        >
          <img [src]="heThongRap.logo" width="50" height="50" />
        </li>
      </ul>
      <ul class="col-md-10">
        <li
          *ngFor="let cumRap of cinemaService.cumRapTheoHeThong()"
          (click)="chonPhimChieu(cumRap.maCumRap)"
          style="cursor: pointer"
        >
          {{ cumRap.tenCumRap }}
        </li>
      </ul>
    </div>
    <div class="col-md-7">
      <ul>
        <li *ngFor="let danhSach of cinemaService.lichChieuHeThong()">
            {{danhSach}}
        </li>
      </ul>
    </div>
  </div>
</div>
