ul li {
  list-style: none;
}
.col-md-2 li img {
  border: 1px solid gray;
  height: 60px;
  margin: 0 0 5px 0;
}
.col-md-10 li {
  font-size: 15px;
  padding: 10px;
  margin: 0 0 5px 0;
  border: 1px solid gray;
  height: 60px;
}
/* free choose movie */

.free-choose #brand {
  border: 1px solid #d6d6d6;
  border-right: unset;
}
.free-choose #brand img {
  opacity: 0.7;
  border-bottom: 1px solid #c4c2c2;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.free-choose #brand img:hover {
  opacity: 1;
  cursor: pointer;
}
#center-choose-film {
  padding-right: unset;
  height: 100%;
  border: 1px solid rgb(230, 224, 224);
}
.overflow-auto {
  height: 660px;
}
/* free choose movie */

.free-choose #brand {
  border: 1px solid #d6d6d6;
  border-right: unset;
}
.free-choose #brand img {
  opacity: 0.7;
  border-bottom: 1px solid #c4c2c2;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 67px;
  height: 67px;
}

.free-choose #brand img:hover {
  opacity: 1;
  cursor: pointer;
}
#center-choose-film {
  padding-right: unset;
  height: 100%;
  border: 1px solid rgb(230, 224, 224);
}
.overflow-auto {
  height: 660px;
}

/* item center hover  */
.item-1 .detail-item1:hover{
  opacity: 1;
  cursor: pointer;
}
.item-1 .detail-item1{
  opacity: 0.7;
}
#center-choose-film img {
  width: 67px;
  height: 67px;
  margin-top: 0.7rem;
}
#center-choose-film span {
  font-size: 0.9rem;
}
#detail-text {
  color: #fb4226;
  padding-left: 10px;
  font-size: 11px !important;
}
/* right film choose */
#right-title-film {
  padding-right: unset;
  padding-left: 1rem;
  height: 100%;
  border: 1px solid rgb(230, 224, 224);
  border-left: unset;
}
#right-title-film .row {
  padding-bottom: 0.6rem;
  border-bottom: 1px solid #d6d6d6;
}
#right-title-film img {
  width: 67px;
  height: 67px;
  margin-top: 0.7rem;
}
#limit-age-film {
  color: white;
  background-color: #fb4226;
  border-radius: 3px;
  font-size: 12px;
  border: none;
  position: absolute;
  display: block;
  top: 0;
  margin: 0.8rem;
  margin-left: 36px;
}
#yet-showed-film {
  color: white;
  background-color: #00ac4d;
  border-radius: 3px;
  font-size: 12px;
  border: none;
  position: absolute;
  display: block;
  top: 0;
  margin: 0.8rem;
  margin-left: 36px;
}
#title-film-content span {
  color: black;
  border-radius: 3px;
  font-size: 17px;
  border: none;
  position: absolute;
  display: block;
  top: 0;
  margin: 0.8rem;
  margin-left: 75px;
}
#title-film-content p {
  color: black;
  border-radius: 3px;
  font-size: 12px;
  border: none;
  position: absolute;
  display: block;
  top: 30px;
  margin: 0.8rem;
  margin-left: 36px;
}
.movie-type {
  margin: 1rem;
}
.movie-type p {
  font-weight: 600;
}
.movie-type button {
  color: #16912a;
  border-radius: 10px;
  padding: 0.5rem;
  font-weight: 600;
}
.movie-type button:hover {
  color: #b43434;
}
.modal-body {
  padding: unset;
}
.item1,
.item2,
.item3 {
  display: inline-block;
}
  
  /* responsive choose list filmm */
  
  @media (max-width: 1198px) {
    .overflow-auto {
      height: 560px;
    }
  }
  @media (max-width: 414px) {
    .overflow-auto {
      height: 680px !important;
    }
  }
  @media (max-width: 375px) {
    .overflow-auto {
      height: 610px !important;
    }
  }
  @media (max-width: 990px) {
    .overflow-auto {
      height: 420px;
    }
  }
  @media (max-width: 767px) {
    .overflow-auto {
      height: 640px;
    }
    #brand img {
      width: 90px;
      height: 90px;
    }
    #main-img-detail {
      height: 115vh;
    }
  }
  @media (max-width: 475px) {
    .overflow-auto {
      height: 540px;
    }
    #brand img {
      width: 75px;
      height: 75px;
    }
  }
  @media (max-width: 1199px) {
    #content-text,
    #detail-text {
      padding-left: 1.3rem;
    }
  }
  @media (max-width: 1199px) {
    #cgv-text {
      margin-left: 0.7rem;
    }
  }
  @media (max-width: 991px) {
    #content-text,
    #detail-text {
      padding-left: 1.9rem;
    }
    .choose-detail-movie span {
      display: none;
    }
    .choose-detail-movie img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .overflow-detail {
      height: 556px !important;
    }
    .card-right-text p {
      padding-left: 18px;
      font-size: 11px;
      padding-top: unset;
    }
    #right-text p {
      padding-top: 12px;
    }
    #center-choose-film span {
      font-size: 12px !important;
    }
    #cgv-text {
      padding-top: 0.6rem;
      margin-left: 1.2rem;
      font-size: 12px;
    }
    #bhd-locate {
      padding-left: 23px;
    }
    #content-text {
      display: none;
    }
    .partner-logo {
      display: none;
    }
  
    .unnecessary {
      display: none;
    }
    .mobile h5 {
      display: none;
    }
    .social h5 {
      display: none;
    }
    .text-left-partner {
      max-width: unset;
      flex: 35%;
      margin: unset;
      top: -1.5rem;
    }
    .mobile {
      flex: 30%;
      max-width: unset;
    }
  }
  @media (max-width: 767px) {
    #content-text {
      display: block;
    }
    #bhd-locate {
      padding-left: unset;
    }
    .text-left-partner {
      max-width: unset;
      flex: 33%;
      margin: unset;
      top: -1.5rem;
    }
    .mobile {
      flex: 25%;
      max-width: unset;
    }
    .social {
      flex: 20%;
      max-width: unset;
    }
  }
  @media (max-width: 418px) {
    .text-left-partner {
      max-width: unset;
      flex: 33%;
      margin: unset;
      top: -1.5rem;
    }
    .mobile {
      flex: 27%;
      max-width: unset;
    }
    .social {
      flex: 27%;
      max-width: unset;
    }
  }
  @media (max-width: 1060px) {
    .text-right-ft {
      padding: 1.2rem 6.7rem 0 6.7rem;
    }
  }
  
  @media (max-width: 767px) {
    .text-right-ft {
      padding: 0rem 12.7rem 0 12.7rem;
    }
    #image {
      height: 170vh;
    }
  }
  @media (max-width: 600px) {
    .text-right-ft {
      padding: unset;
      padding: 0rem 5.7rem 0 5.7rem;
    }
  }
  