<div class="container-fluid" *ngIf="danhSachPhim">
  <div class="row">
    <input class="searchPhim" type="text" [(ngModel)]="searchDSPhim" />
    <button class="btn btn-success add" type="button" data-toggle="modal" data-target="#form">
      +
    </button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>action</th>
        <th scope="col">Mã phim</th>
        <th scope="col">Tên phim</th>
        <th scope="col">Bí danh</th>
        <th scope="col">Trailer</th>
        <th scope="col">Hình ảnh</th>
        <th scope="col">Mô tả</th>
        <th scope="col">Ngày khởi chiếu</th>
        <th scope="col">Đánh giá</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="
          let movie of danhSachPhim
            | searchDSPhim: searchDSPhim
            | slice: startPageNumberDS:endPageNumberDS
        ">
        <td class="row">
          <button class="btn btn-primary update" data-toggle="modal" data-target="#form2"
            (click)="editPhim(movie.maPhim)">
            update
          </button>
          <button class="btn btn-danger delete" (click)="delete(movie.maPhim)">
            xoa
          </button>
        </td>
        <td>{{ movie.maPhim }}</td>
        <td>{{ movie.tenPhim }}</td>
        <td>{{ movie.biDanh }}</td>
        <td>{{ movie.trailer }}</td>
        <td>
          <img class="card-img-top" [src]="movie.hinhAnh" alt="" style="width:100px;height:100px;" />
        </td>
        <td>{{ movie.moTa }}</td>
        <td>{{ movie.ngayKhoiChieu}}</td>
        <td>{{ movie.danhGia }}</td>
      </tr>
    </tbody>

    <nav aria-label="Page navigation example" id="2">
      <ul class="pagination">
        <li class="page-item" *ngFor="
            let i of getArrayNumberDsPhim(danhSachPhim.length);
            let pageNumber = index
          ">
          <a class="page-link pageNumber" (click)="updatePageNumberDSPhim(pageNumber)">{{ pageNumber + 1 }}</a>
        </li>
      </ul>
    </nav>
  </table>
</div>

<!-- popup modal add movie -->
<div class="modal fade bd-example-modal-xl" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h3 class="modal-title" id="exampleModalLabel">Thêm phim</h3>
        <button #closebutton type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form #movieForm="ngForm" (ngSubmit)="onSubmit()">

          <!-- tenPhim -->
          <div class="form-group">
            <label for="tenPhim">Tên phim</label>
            <input type="text" id="tenPhim" name="tenPhim" class="form-control" [(ngModel)]="form.tenPhim"
              #tenPhim="ngModel" required />
            <div *ngIf="tenPhim.errors && (tenPhim.dirty || tenPhim.touched)">
              <div *ngIf="tenPhim.errors.required">
                <small>Tên phim không được để trống</small>
              </div>
            </div>
          </div>

          <!-- biDanh -->
          <div class="form-group">
            <label for="biDanh">Bí danh</label>
            <input type="biDanh" id="biDanh" name="biDanh" class="form-control" [(ngModel)]="form.biDanh"
              #biDanh="ngModel" required />
            <div *ngIf="biDanh.errors && (biDanh.dirty || biDanh.touched)">
              <div *ngIf="biDanh.errors.required">
                <small>Bí danh không được để trống</small>
              </div>
            </div>
          </div>

          <!-- trailer -->
          <div class="form-group">
            <label for="trailer">trailer</label>
            <input type="text" id="trailer" name="trailer" class="form-control" [(ngModel)]="form.trailer"
              #trailer="ngModel" required />
            <div *ngIf="trailer.errors && (trailer.dirty || trailer.touched)">
              <div *ngIf="trailer.errors.required">
                <small>trailer không được để trống</small>
              </div>
            </div>
          </div>

          <!-- hinhAnh -->
          <div class="form-group">
            <label for="hinhAnh">Hình ảnh</label>
            <input type="string" id="hinhAnh" name="hinhAnh" class="form-control" [(ngModel)]="form.hinhAnh"
              #hinhAnh="ngModel" required />
            <div *ngIf="hinhAnh.errors && (hinhAnh.dirty || hinhAnh.touched)">
              <div *ngIf="hinhAnh.errors.required">
                <small>Hình ảnh không được để trống</small>
              </div>
            </div>
          </div>

          <!-- moTa -->
          <div class="form-group">
            <label for="moTa">Mô tả</label>
            <input type="text" id="moTa" name="moTa" class="form-control" [(ngModel)]="form.moTa" #moTa="ngModel"
              required />
            <div *ngIf="moTa.errors && (moTa.dirty || moTa.touched)">
              <div *ngIf="moTa.errors.required">
                <small>Mô tả không được để trống</small>
              </div>
            </div>
          </div>

          <!-- ngayKhoiChieu -->
          <div class="form-group">
            <label for="ngayKhoiChieu">Ngày khởi chiếu</label>
            <input type="text" id="ngayKhoiChieu" name="ngayKhoiChieu" class="form-control"
              [(ngModel)]="form.ngayKhoiChieu" #ngayKhoiChieu="ngModel" required />
            <div *ngIf="
              ngayKhoiChieu.errors &&
              (ngayKhoiChieu.dirty || ngayKhoiChieu.touched)
            ">
              <div *ngIf="ngayKhoiChieu.errors.required">
                <small>Ngày khởi chiếu không được để trống</small>
              </div>
            </div>
          </div>

          <!-- danhGia -->
          <div class="form-group">
            <label for="danhGia">Đánh giá</label>
            <input type="text" id="danhGia" name="danhGia" class="form-control" [(ngModel)]="form.danhGia"
              #danhGia="ngModel" required />
            <div *ngIf="danhGia.errors && (danhGia.dirty || danhGia.touched)">
              <div *ngIf="danhGia.errors.required">
                <small>Đánh giá không được để trống</small>
              </div>
            </div>
          </div>

          <!-- Button submit -->
          <button type="submit" class="btn btn-success " [disabled]="movieForm.invalid">
            Đăng ký
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- popup modal update movie -->
<div class="modal fade bd-example-modal-xl" id="form2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h3 class="modal-title" id="exampleModalLabel">Sửa phim</h3>
        <button #closeupdate type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form #movieForm2="ngForm" (ngSubmit)="onSubmit()">

          <!-- tenPhim -->
          <div class="form-group">
            <label for="tenPhim">Tên phim</label>
            <input type="text" id="tenPhim" name="tenPhim" class="form-control" [(ngModel)]="phim.tenPhim"
              #tenPhim="ngModel" required />
            <div *ngIf="tenPhim.errors && (tenPhim.dirty || tenPhim.touched)">
              <div *ngIf="tenPhim.errors.required">
                <small>Tên phim không được để trống</small>
              </div>
            </div>
          </div>

          <!-- biDanh -->
          <div class="form-group">
            <label for="biDanh">Bí danh</label>
            <input type="biDanh" id="biDanh" name="biDanh" class="form-control" [(ngModel)]="phim.biDanh"
              #biDanh="ngModel" required />
            <div *ngIf="biDanh.errors && (biDanh.dirty || biDanh.touched)">
              <div *ngIf="biDanh.errors.required">
                <small>Bí danh không được để trống</small>
              </div>
            </div>
          </div>

          <!-- trailer -->
          <div class="form-group">
            <label for="trailer">trailer</label>
            <input type="text" id="trailer" name="trailer" class="form-control" [(ngModel)]="phim.trailer"
              #trailer="ngModel" required />
            <div *ngIf="trailer.errors && (trailer.dirty || trailer.touched)">
              <div *ngIf="trailer.errors.required">
                <small>trailer không được để trống</small>
              </div>
            </div>
          </div>

          <!-- hinhAnh -->
          <div class="form-group">
            <label for="hinhAnh">Hình ảnh</label>
            <input type="string" id="hinhAnh" name="hinhAnh" class="form-control" [(ngModel)]="phim.hinhAnh"
              #hinhAnh="ngModel" required />
            <div *ngIf="hinhAnh.errors && (hinhAnh.dirty || hinhAnh.touched)">
              <div *ngIf="hinhAnh.errors.required">
                <small>Hình ảnh không được để trống</small>
              </div>
            </div>
          </div>

          <!-- moTa -->
          <div class="form-group">
            <label for="moTa">Mô tả</label>
            <input type="text" id="moTa" name="moTa" class="form-control" [(ngModel)]="phim.moTa" #moTa="ngModel"
              required />
            <div *ngIf="moTa.errors && (moTa.dirty || moTa.touched)">
              <div *ngIf="moTa.errors.required">
                <small>Mô tả không được để trống</small>
              </div>
            </div>
          </div>

          <!-- ngayKhoiChieu -->
          <div class="form-group">
            <label for="ngayKhoiChieu">Ngày khởi chiếu</label>
            <input type="text" id="ngayKhoiChieu" name="ngayKhoiChieu" class="form-control"
              [(ngModel)]="phim.ngayKhoiChieu" #ngayKhoiChieu="ngModel" required />
            <div *ngIf="
              ngayKhoiChieu.errors &&
              (ngayKhoiChieu.dirty || ngayKhoiChieu.touched)
            ">
              <div *ngIf="ngayKhoiChieu.errors.required">
                <small>Ngày khởi chiếu không được để trống</small>
              </div>
            </div>
          </div>

          <!-- danhGia -->
          <div class="form-group">
            <label for="danhGia">Đánh giá</label>
            <input type="text" id="danhGia" name="danhGia" class="form-control" [(ngModel)]="phim.danhGia"
              #danhGia="ngModel" required />
            <div *ngIf="danhGia.errors && (danhGia.dirty || danhGia.touched)">
              <div *ngIf="danhGia.errors.required">
                <small>Đánh giá không được để trống</small>
              </div>
            </div>
          </div>

          <!-- Button submit -->
          <button class="btn btn-success " [disabled]="movieForm2.invalid" (click)="updatePhim()">
            Đăng ký
          </button>
        </form>
      </div>
    </div>
  </div>
</div>