.container-fluid {
  .searchUser {
    margin: 10px;
  }
  .btn {
    padding: 4px 8px;
    margin-right: 10px;
  }
}

.modal {
  .modal-content {
    .modal-header {
      display: flex;
      .modal-title {
        margin: 0;
        font-weight: bold;
      }
    }
  }
  .modal-body {
    .form-group {
      small {
        color: red;
      }
    }
  }
}
