<div
  class="step-checkout "
  style="display: flex; justify-content: space-between"
>
  <div class="left-step">
    <ul class="ng-scope">
      <li class="active">
        <span class="stepnumber">01 </span> CHỌN GHẾ & THANH TOÁN
      </li>
      <li><span class="stepnumber">02 </span> KẾT QUẢ ĐẶT VÉ</li>
    </ul>
  </div>
  <div class="right-step" style="line-height: 80px">
    {{ user.hoTen }}
  </div>
</div>
<div class="row">
  <div class="left-step"></div>
  <div class="right-step"></div>
</div>
<div class="container">
  <div class="seat-map">
    <div class="seat-play">
      <div class="screen">
        <img src="./../../../../assets/img/screen.PNG" alt="" />
      </div>
      <div class="list-seat">
        <div class="row ">
          <app-ghe
            *ngFor="let ghe of danhSachGhe | slice: 0:126"
            [ghe]="ghe"
            [mangGheThanhToan]="mangGheThanhToan"
            (eventDatGhe)="datGhe($event)"
          >
          </app-ghe>
        </div>
      </div>
    </div>
    <div class="note-seat"></div>
  </div>
</div>
