.search-sec form {
    padding: 1rem;
    background-color: white;
    position: relative;
    z-index: 100;
    top: -2.7rem;
    box-shadow: 1px 1px 2px 1px #aaaaaa;
    border: none;
    border-radius: 6px;
  }
  .search-slt {
    width: 90%;
    position: relative;
    z-index: 100;
    top: 0;
    font-size: 0.875rem;
    color: #55595c;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border: none;
    border-radius: 6px;
    margin-left: 10px;
    outline: none;
  }

  .muaVe{
    margin-left: 20px;
    padding:5px 10px;
  }