<section class="search-sec">
  <div class="container ">
    <form style="display: flex">
      <select class="form-control search-slt" (change)="layTenCumRap($event)">
        <option>chon he thong rap</option>
        <option
          *ngFor="let tenHeThongRap of tenHeThongRap; let stt = index"
          [value]="stt"
        >
          {{ tenHeThongRap.tenHeThongRap }}
        </option>
      </select>

      <select class="form-control search-slt" (change)="layTenPhim($event)">
        <option>chon cum rap</option>
        <option *ngFor="let tenCumRap of CumRap; let stt = index" [value]="stt">
          {{ tenCumRap.tenCumRap }}
        </option>
      </select>

      <select class="form-control search-slt" (change)="layNgayChieu($event)">
        <option>chon tenPhim</option>
        <option *ngFor="let tenPhim of tenPhim; let stt = index" [value]="stt">
          {{ tenPhim.tenPhim }}
        </option>
      </select>

      <select class="form-control search-slt" (change)="layMaLichChieu($event)">
        <option>chon ngay Chieu</option>
        <option
          *ngFor="let ngayChieu of ngayChieu; let stt = index"
          [value]="stt"
        >
          {{ ngayChieu.ngayChieuGioChieu | date: "dd/MM/yyyy -- hh:mm" }}
          ---{{ ngayChieu.maLichChieu }}
        </option>
      </select>
      <button
        type="button"
        class="btn btn-danger muaVe"
        (click)="datVe()"
      >
        mua ve
      </button>
    </form>
  </div>
</section>
